.center {
    margin: auto;
    text-align: center;
}

.newRoundButton {
    width: 180px;
    height: 80px;
    font-size: 20px;
}

.shipGridsButton {
    width: 325px;
    height: 170px;
    cursor: hand;
    font-size: 20px;
}

span {
    padding: 3px;
}

.player1Wins {
    padding: 3px;
    margin: 3px;
    color: white;
    background-color: red;
}

.player2Wins {
    padding: 3px;
    margin: 3px;
    color: white;
    background-color: blue;
}

.gameStatus {
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}

.shipGrid {
    border-width: 1px;
    border-style: solid;
    padding: 5px;
}

.square {
    width: 20px;
    height: 20px;
}

.smallSquare {
    width: 10px;
    height: 10px;
}

.blue {
    background-color:blue;
}
.red {
    background-color:red;
}
.orange {
    background-color:orange;
}
.yellow {
    background-color:yellow;
}
.green {
    background-color:green;
}
.purple {
    background-color:purple;
}

.hitPlayer1Ship {
    background-color:red;
}

.hitPlayer2Ship {
    background-color:blue;
}

.missedShip {
    background-color:darkgrey;
}

.notFiredOn {
    background-color:lightblue;
}

.flag {
    color: white;
    text-align: center;
}

.active {
    background-color:green;
    color:white;
}

.sunk {
    background-color:darkgrey;
    color:white;
}