.center {
	margin: auto;
	text-align: center;
}

.newRoundButton {
	width: 88px;
	height: 45px;
}

.codemastersGridButton {
	width: 88px;
	height: 91px;
	cursor: hand;
}

span {
	padding: 3px;
}

input {
	margin: 6px;
}

.word {
	border-style: solid;
	border-width: 1px;
	cursor: hand;
	margin: 6px;
	padding: 5px;
}

.wordGridSection {
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}

.clueNumberInput {
	width: 30px;
}

.teamIconRed {
	width: 40px;
	height: 20px;
	color: white;
	background-color: red;
}

.teamIconBlue {
	width: 40px;
	height: 20px;
	color: white;
	background-color: blue;
}

.currentTeamIndicator {
	font-size: 20px;
}

.redWins {
	padding: 3px;
	margin: 3px;
	color: white;
	background-color: red;
}

.blueWins {
	padding: 3px;
	margin: 3px;
	color: white;
	background-color: blue;
}

.gameStatus {
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}

.gameMessage {
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}

.codemastersGrid {
	border-width: 1px;
	border-style: solid;
	padding: 5px;
}

.currentTurn {
	padding: 5px;
	border-width: 1px;
	border-style: solid;
}

.red {
	background-color: red;
	color: white;
}

.blue {
	background-color: blue;
	color: white;
}

.brown {
	background-color: #4044007d;
}

.black {
	background-color: #000;
}

.firstTeamIndicatorRed {
	width: 50px;
	height: 10px;
	background-color: red;
	color: white;
}

.firstTeamIndicatorBlue {
	width: 50px;
	height: 10px;
	background-color: blue;
	color: white;
}

.squareRed {
	width: 10px;
	height: 10px;
	background-color: red;
	color: white;
}

.squareBlue {
	width: 10px;
	height: 10px;
	background-color: blue;
	color: white;
}

.squareBrown {
	width: 10px;
	height: 10px;
	background-color: tan;
	color: white;
}

.squareBlack {
	width: 10px;
	height: 10px;
	background-color: black;
	color: white;
}