<!DOCTYPE html>
<html ng-app="battleshipApp">
    <head>
        <title>Battleship</title>
        <link rel="stylesheet" type="text/css" href="../css/battleship.css">
        <script src='../javascript/angular.min.js'></script>
        <script src='../javascript/battleship.js'></script>
    </head>
    <body>
        <div ng-controller="BattleshipCtrl as ctrl" class="center">
            <h1>Battleship</h1>
            <div class="gameStatus">
                <table class="center">
                    <tr>
                        <td>
                            <button ng-click="ctrl.startNewRound()" class="newRoundButton">
                                <span class="redWins">{{ctrl.redWins}}</span>
                                <span class="blueWins">{{ctrl.blueWins}}</span>
                                <br/>
                                New Round
                            </button>
                        </td>
                        <td>
                            <button ng-click="ctrl.toggleShipGrids()" ng-hide="ctrl.showShipGrids" class="shipGridsButton">
                                Show Ship Grids
                            </button>
                            <button ng-click="ctrl.toggleShipGrids()" ng-show="ctrl.showShipGrids" class="shipGridsButton">
                                <table class="center" ng-show="ctrl.showShipGrids">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <table>
                                                    <tbody>
                                                        <tr ng-repeat="row in ctrl.player1RowList">
                                                            <td ng-repeat="square in row">
                                                                <div class="square {{square.type}}">
                                                                    <span></span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                            <td>
                                                <table>
                                                    <tbody>
                                                        <tr ng-repeat="row in ctrl.player2RowList">
                                                            <td ng-repeat="square in row">
                                                                <div class="square {{square.type}}">
                                                                    <span></span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </button>
                        </td>
                    </tr>
                </table>
                <br/>
                <table class="center">
                    <tr>
                        <td class="teamIcon {{ctrl.currentTeam}}"></td>
                    </tr>
                </table>
                <br/>
                {{ctrl.message}}
            </div>
            <div class="shipGridSection">
                <table class="center">
                    <tbody>
                        <tr>
                            <td>
                                <table>
                                    <tbody>
                                        <tr><span class="red"></span></tr>
                                        <tr ng-repeat="row in ctrl.player1RowList">
                                            <td ng-repeat="square in row">
                                                <div class="square {{square.status}}" ng-click="ctrl.fireOn(this, square)">
                                                    <span></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>
                                <table>
                                    <tbody>
                                    <tr><span class="blue"></span></tr>
                                    <tr ng-repeat="row in ctrl.player2RowList">
                                            <td ng-repeat="square in row">
                                                <div class="square {{square.status}}" ng-click="ctrl.fireOn(this, square)">
                                                    <span></span>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>